{% extends "base.html" %}

{% block content %}
<div class="game_state">
</div>
<div id="action_div">
    {% if game_state_presenter.is_over %}
        <p>{{winning_player.name}} wins!</p>
    {% endif %}
    {% if game_state_presenter.is_challenge_issued and requesting_game_player.id != game_state_presenter.game_player_to_move.id%}
        <p>Game is waiting on challenge response.</p>
    {% endif %}
    {% if game_state_presenter.is_playing and not game_state_presenter.word_so_far %}
        <p>Waiting for {{game_state_presenter.game_player_to_move.player.name}} to move.</p>
    {% endif %}
    {% for letter in game_state_presenter.word_so_far %}
        <span class="ghost-letter">{{letter|upper}}</span>
    {% endfor %}
    {% if game_state_presenter.game_type.value == 'APPEND' and requesting_game_player.id == game_state_presenter.game_player_to_move.id and game_state_presenter.is_playing %}

        <button class="ghost-letter" data-toggle="modal" data-target="#guess-modal"></button>

        <div class="modal fade" id="guess-modal">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Enter letter to guess</h4>
              </div>
              <div class="modal-body input-group">
                <form action="{% url 'ghost:new_letter' ghost_game_id=ghost_game_id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="position" type="number" value={{game_state_presenter.legal_positions_to_play|first}}>
                <input class="form-control" type="text" name="letter" placeholder="Aa" max_length="1" autocomplete="off">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit">Play</button>
            </form>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


    {% endif %}
    <div class="actions-wrapper">
    {% if requesting_game_player.id == game_state_presenter.game_player_to_move.id and game_state_presenter.is_playing %}
    <div class="ghost-action">
        <form action="{% url 'ghost:challenge' ghost_game_id=ghost_game_id %}" method="post">
        {% csrf_token %}
        <button class="btn btn-lg btn-primary" type="submit">Challenge</button>
        </form>
    </div>
    {% endif %}

    {% if requesting_game_player.id == game_state_presenter.game_player_to_move.id and game_state_presenter.is_challenge_issued %}
    <div class="ghost-action">
        <button class="btn btn-lg btn-danger" data-toggle="modal" data-target="#challenge-response-modal">Respond to Challenge</button>
    </div>

        <div class="modal fade" id="challenge-response-modal">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-body input-group">
                <form action="{% url 'ghost:respond' ghost_game_id=ghost_game_id %}" method="post">
                {% csrf_token %}
                <input class="form-control" type="text" name="response" placeholder="Word you were trying to spell" max_length="64" autocomplete="off">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit">Respond</button>
            </form>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endif %}

    {% if requesting_game_player.id == game_state_presenter.game_player_to_move.id and game_state_presenter.is_playing %}
    <div class="ghost-action">
        <form action="{% url 'ghost:word_spelled' ghost_game_id=ghost_game_id %}" method="post">
        {% csrf_token %}
        <button class="btn btn-lg btn-primary" type="submit">That's a word</button>
        </form>
    </div>
    {% endif %}
    </div>

    {% if not game_state_presenter.is_over and requesting_game_player in game_state_presenter.game_players %}
    <div class="ghost-action">
        <button class="btn btn-lg btn-default" data-toggle="modal" data-target="#resign-confirm-modal">Resign</button>
    </div>

        <div class="modal fade" id="resign-confirm-modal">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-body input-group">
                  Are you sure you want to resign?
                <form action="{% url 'ghost:resign' ghost_game_id=ghost_game_id %}" method="post">
                {% csrf_token %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-danger" type="submit">Confirm</button>
            </form>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endif %}
</div>
{% endblock %}
